@import "./styles/mdc";

body {
    margin: 0;

    main {
        display: flex;
        flex-direction: column;

        .table-container {
            display: grid;
            place-items: center;
            margin-top: 15px;

            .mdc-data-table {
                min-width: 500px;

                .rating {
                    width: 200px;
                }
            }
        }
    }
}